* {
    padding: 0rem;
    margin: 0rem;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.nav-cont {
    width: 100%;
    height: 10vh;
    display: flex;
    align-items: center;
    background-color: rgb(175, 172, 172);
}

.nav-a {
    text-decoration: none;
    color: black;
}

.nav-cont {
    display: flex;
    gap: 5rem;
}

.nav-elements {
    margin: 0rem 3rem;
    width: inherit;
    min-height: inherit;
    display: flex;
    align-items: center;
    gap: 29rem;
}

.logo {
    font-size: 1.6rem;
    font-weight: bolder;
}